.bubulala {
    font-size: 30px;
    /* line-height: 0px; */
    height: 50px;
    background-color: #101010;
    padding: 5px;
    margin: 2px;
    border-radius: 15%;

}

.bigClock {
    height: 60px;
    align-items: center;
    justify-content: center;

}
/* 

    You can write your own styles here...
    
    
    ...Or you can use the import command to include 
    other sylesheets into your bunde as well, e.j:
    
    import 'relative/path/to/stylesheet.scss';

*/
